# -*- mode: sh -*-
function syu {
    sudo pacman -Syu && xmonad --recompile
}

function rekon {
    curl -s -L rekon.basho.com | sh
}

function cwd2paths {
    export PYTHONPATH=$PYTHONPATH:$(pwd)
}

function collapse_pwd {
    echo $(pwd | sed -e "s,^$HOME,~,")
}

function kill-ports-of-process {
    lsof -n -P -i4 -a -itcp -a -i :$2 -p $1
}

function archnews {
    w3m https://www.archlinux.org/news/ | awk 'NR>17 && NR<30'
}

function clean-evicted() {
    kubectl delete pods $(kubectl get pods -n $1 | grep Evicted | cut -f1 -d' ' | paste -sd' ' -) -n $1
}

function clean-pending() {
    kubectl delete pods $(kubectl get pods -n $1 | grep Pending | cut -f1 -d' ' | paste -sd' ' -) -n $1
}

function weather() {
    curl http://v2.wttr.in/KRK
}

function fullspeed-fans() {
    # Would like to sudo echo | tee, but thinkpad_acpi doesn't work
    # like that.
    sudo sh -c 'echo "level full-speed" > /proc/acpi/ibm/fan'
}

function auto-fans() {
    sudo sh -c 'echo "level auto" > /proc/acpi/ibm/fan'
}

function low-power-state() {
    sudo sh -c 'echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo'
}

function high-power-state() {
    sudo sh -c 'echo 0 > /sys/devices/system/cpu/intel_pstate/no_turbo'
}

function npm-install() {
    nodenv each -p=10 npm i -g $1 && nodenv rehash
}

aur-install() {
    cd /tmp/ && git clone https://aur.archlinux.org/$1.git && cd $1 && makepkg -sfi
}

calc-cidr() {
    echo $(((2 ** (32 - $1)) - 2))
}

function google-dns() {
    curl --silent "https://dns.google/resolve?name=${1}" | jq '.Answer'
}
