# -*- mode: sh -*-
syu() {
    sudo pacman -Syu && xmonad --recompile
}

collapse-pwd() {
    echo $(pwd | sed -e "s,^$HOME,~,")
}

kill-ports-of-process() {
    lsof -n -P -i4 -a -itcp -a -i :$2 -p $1
}

archnews() {
    w3m https://www.archlinux.org/news/ | awk 'NR>17 && NR<30'
}

clean-namespace-of() {
  kubectl delete pods $(kubectl get pods -n $1 | grep $2 | cut -f1 -d' ' | paste -sd' ' -) -n $1
}

clean-crashing() {
  clean-namespace-of $1 CrashLoopBackOff
  clean-namespace-of $1 Init:CrashLoopBackOff
  clean-namespace-of $1 Init:Error
}

clean-evicted() {
    kubectl delete pods $(kubectl get pods -n $1 | grep Evicted | cut -f1 -d' ' | paste -sd' ' -) -n $1
}

clean-pending() {
    kubectl delete pods $(kubectl get pods -n $1 | grep Pending | cut -f1 -d' ' | paste -sd' ' -) -n $1
}

weather() {
    curl http://v2.wttr.in/KRK
}

fullspeed-fans() {
    # Would like to sudo echo | tee, but thinkpad_acpi doesn't work
    # like that.
    sudo sh -c 'echo "level full-speed" > /proc/acpi/ibm/fan'
}

auto-fans() {
    sudo sh -c 'echo "level auto" > /proc/acpi/ibm/fan'
}

low-power-state() {
    sudo sh -c 'echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo'
}

high-power-state() {
    sudo sh -c 'echo 0 > /sys/devices/system/cpu/intel_pstate/no_turbo'
}

npm-install() {
    nodenv each -p=10 npm i -g $1 && nodenv rehash
}

aur-install() {
    cd /tmp/ && git clone https://aur.archlinux.org/$1.git && cd $1 && makepkg -Asfi
}

calc-cidr() {
    echo $(((2 ** (32 - $1)) - 2))
}

google-dns() {
    curl --silent "https://dns.google/resolve?name=${1}" | jq '.Answer'
}

scale-down-namespace() {
     kubectl scale deploy -n "${1}"  --replicas=0 --all
}

scale-up-namespace() {
    kubectl scale deploy -n "${1}"  --replicas=1 --all
}

get-ssl-for-site() {
    echo | openssl s_client -servername "${1}".6river.org -connect "${1}".6river.org:443 |\
        sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p'
}
