.xsel.log
.Xauthority
.routerdetails
/bluegriffin
.mysql_history
.designer
*.svg
*.png
*.jpg
*.txt
*.db
*.py~
.FBReader
.config/deadbeef
.dolphin-emu
.emacs.d/auto-save-list
dev
.AUR
.mpd
.ssh
Mail
.dbus
.roms
.wine
dirlist
.bashrc
.ncmpcpp
.mozilla
.emacs~
.recentf~
.bash_logout
.lyrics
minecraft
.gimp-2.6
.snes9x
Desktop
.icedtea
screenshot.png
.bash_history
.thunderbird
.transmission
.cdemu-daemon.log
.thumbnails
.pulse-cookie
.Skype
.quakelive
.adobe
.cache
.gconf
.recentf
.local
.pulse
.fontconfig
.conkyrc1
Downloads
.macromedia
.gtkrc-2.0
.minecraft
.config/transmission
.config/Trolltech
.pylint.d
.weechat
.VirtualBox/
.Xmodmap
.config/__init__.py
.config/inkscape/
.config/libreoffice/
.config/menus/applications-merged/wine-Programs-Egosoft-X3 Terran Conflict-Online Registration.menu
.config/menus/applications-merged/wine-Programs-Egosoft-X3 Terran Conflict-Uninstall X3 Terran Conflict.menu
.config/menus/applications-merged/wine-Programs-Egosoft-X3 Terran Conflict-X3 Terran Conflict EN.menu
.config/menus/applications-merged/wine-Programs-Egosoft-X3 Terran Conflict-X3 Terran Conflict Manual EN.menu
.gem/
.gimp-2.7/
.gimp-2.8/
.heroku/
.muttrc
.mysql_history.TMP
.openarena/
.opera/
.pip/
.xonotic/
.config/Trolltech.conf
.config/dconf/user
.config/pcmanfm/default/pcmanfm.conf
.config/transmission/settings.json
.config/transmission/stats.json
.config/vlc/vlcrc
.emacs.d/ac-comphist.dat
.fehbg
.gitconfig
test_projects/*/target
**/target
/target
classes/
lib/
*jar
pom.xml
autodoc/
bin/nom
.lein-failures
/lein.man
/scratch.clj
.lein-deps-sum
docs
.lein-classpath
.lein-project-checksum
/leiningen-core/.lein-plugins/checksum
/wiki
/web
TAGS
/leiningen-core/dev-resources/target
.gitolite
.gitolite.rc
gitolite-admin
.config/Skype/
.config/ipython/
.config/liteide/
.emacs.d/elpa/archives/
.gnupg/
.gstreamer-0.10/
.psql_history
TheWayToGo.pdf
mysqlInsertJSON.py
.config/Mumble
.config/chromium
.config/enchant
.config/vlc
/.config/google-googletalkplugin/gtalkplugin-c9709034531533942182.log.bz2
/.config/google-googletalkplugin/googletalkplugin_port
/.config/google-googletalkplugin/googletalkplugin_ws_port
/.config/google-googletalkplugin/gtbplugin.log
/.emacs.d/save/savehist
/.emacs.d/elpa/yasnippet-20140106.1009/
*.elc
/.config/htop/htoprc
/.config/google-googletalkplugin/gtalkplugin-c7808352801286927016.log.bz2
