/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/xmonad-x86_64-linux
/.emacs.d/elpa/archives/
/.emacs.d/auto-save-list/
/.emacs.d/ac-comphist.dat
/.config/chromium/
/.config/EgoSoft/
/.config/StealthBastard[Steam]/
/.config/StealthBastard[Steam]/
/.config/StealthBastard[Steam]/
/.config/Trolltech.conf
/.config/fontconfig/
/.config/keepassx/
/.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/.emacs.d/eproject.lst
/.config/StealthBastard[Steam]/
/.config/StealthBastard*
/.config/Thunar/accels.scm
/.xmonad/xmonad_flymake.hs
