/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/xmonad-x86_64-linux
/.emacs.d/elpa/archives/
/.emacs.d/auto-save-list/
/.emacs.d/ac-comphist.dat
/.config/chromium/
/.config/EgoSoft/
/.config/StealthBastard[Steam]/
/.config/StealthBastard[Steam]/
/.config/StealthBastard[Steam]/
/.config/Trolltech.conf
/.config/fontconfig/
/.config/keepassx/
/.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/.emacs.d/eproject.lst
/.config/StealthBastard[Steam]/
/.config/StealthBastard*
/.config/Thunar/accels.scm
/.xmonad/xmonad_flymake.hs
.config/gtk-2.0/*
.config/htop/*
/.config/Escape Goat 2/
/.config/ImageMagick/
/.config/LightTable/
/.config/MonoGame/
/.config/Mumble/
/.config/Skype/
/.config/autostart/dropbox.desktop
/.config/autostart/syncdrive-indicator.desktop
/.config/bless/history.xml
/.config/bless/last.session
/.config/cairo-dock/
/.config/calibre/
/.config/configstore/
/.config/dconf/
/.config/enchant/
/.config/gol/
/.config/google-googletalkplugin/*
/.config/libreoffice/
/.config/m64py/
/.config/mc/
/.config/mupen64plus/
/.config/orage/orage_default_alarm.txt
/.config/pulse/3432734e52f543c184dc7daa4d84a46e-runtime
/.config/sonata/
/.config/transmission/
/.config/unity3d/
/.config/vlc/
/.config/xfce4/desktop/
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
*.elc
*.svg
/.emacs.d/save/
/.emacs.d/tramp
/.emacs.d/var/
/.config/inkscape/
/.config/menus/
/.emacs.d/eshell/
/.emacs.d/jenkins.el
/.emacs.d/url/cookies
/.emacs.d/butler/
/.config/QtProject.conf
/.config/QtProject/
/.config/terminator/
/.emacs.d/elpa/caps-lock-readme.txt
/.config/glade.conf
/.config/key-mon/
/.config/lxtask.conf
/.config/sublime-text-2/
/.config/lispkit/cookiez
/.config/pulse/3432734e52f543c184dc7daa4d84a46e-device-volumes.tdb
/.config/pulse/3432734e52f543c184dc7daa4d84a46e-stream-volumes.tdb
/.config/git/
/.config/xfce4/xfconf/xfce-perchannel-xml/keyboards.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
/.emacs.d/elpa/gnupg/
/.config/lispkit/history
/.config/icedtea-web/
/.config/kcachegrind.sf.net/
/.config/pulse/3432734e52f543c184dc7daa4d84a46e-card-database.tdb
/.config/filezilla/
/.emacs.d/tutorial/
/.config/Radium/
*.xref
*.log
/.emacs.d/recentf
/.emacs.d/ido.last
